/**
 * vim: set et sw=4 ts=4 ff=unix ft=css :
 */
@charset 'utf-8';

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light-webfont.woff') format('woff');
    font-weight: 200
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular-webfont.woff') format('woff');
    font-weight: 400
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: 700
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}