/**
 * vim: set et sw=4 ts=4 ff=unix ft=css :
 */
@charset 'utf-8';

html {
    height: 100%;
    display: flex;
}
body {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: rgba(34, 41, 68, 1); /* url(../../../design/landing-page.jpg) 100px -170px;*/
    color: rgba(255, 255, 255, 1);
}
.main-site-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 306px;
    width: 320px;
    height: 256px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    background: url(img/logo-with-text.png) 24px 0 no-repeat;
}
@media screen and (max-width: 640px) {
    body {
        transform: scale(.5);
        padding-top: 0;
    }
}
.main-site-logo-heading {
    font-family: Baskerville, 'Lbre Baskerville', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 12px;
    line-height: 70px;
}
.main-site-logo-subheading {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 32px;
    letter-spacing: 0.2px;
}
.info-message {
    display: block;
    margin: 128px 0 96px;
    border: 2px solid rgba(145, 119, 82, 1);
    height: 72px;
    width: 360px;
    text-align: center;
    line-height: 72px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 8px;
    color: #fff;
}
.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-details a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 36px;
}
.contact-details a:hover {
    text-decoration: underline;
}
