
/**
 * vim: set et sw=4 ts=4 ff=unix ft=css :
 */
@charset 'utf-8';

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin-webfont.woff') format('woff');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.woff') format('woff');
    font-weight: 200;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black-webfont.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
